#wpcontent {
    position: relative;
    padding-left: 0 !important;
}

#wc-download-sales-report-container {
    margin: 0;
}

.wc-download-sales-report-container .dashicons,
.wc-download-sales-report-container .dashicons-before:before {
    font-family: dashicons !important;
}

.wc-download-sales-report-container .link-shadow {
    padding: 5px 3px;
    -webkit-box-shadow: inset 0 -10px 0 rgba(163, 218, 227, 0.5);
    box-shadow: inset 0 -10px 0 rgba(163, 218, 227, 0.5);
}

.wc-download-sales-report-container .wrapper {
    padding: 0;
}

.wc-download-sales-report-container .page-title {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    z-index: 1001;
    top: 32px;
    width: 100%;
    min-height: 80px;
    margin: 0;
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
}

.wc-download-sales-report-container .page-title h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    text-transform: uppercase;
    color: #444;
    font-size: 28px;
    font-weight: 700;
}

.wc-download-sales-report-container .page-title h2 .dashicons {
    padding: 5px;
    border: 3px solid #444;
}

.wc-download-sales-report-container .page-title .dashicons,
.wc-download-sales-report-container .page-title .dashicons-before:before {
    width: auto;
    height: auto;
    margin-right: 8px;
}

.wc-download-sales-report-container .page-content {
    padding: 120px 20px 20px 20px;
}

.wc-download-sales-report-container .page-content *,
.wc-download-sales-report-container .page-content *::after,
.wc-download-sales-report-container .page-content *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wc-download-sales-report-container .clear::after, .wc-download-sales-report-container .clear::before {
    display: table;
    content: " ";
}

.wc-download-sales-report-container .clear::after {
    clear: both;
}

.wc-download-sales-report-container .setting-row {
    padding: 30px 0;
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
    line-height: 1.3;
}

.wc-download-sales-report-container .setting-row h2,
.wc-download-sales-report-container .setting-row h4 {
    margin: 0 0 6px 0;
    color: #444;
    font-size: 20px;
    font-weight: 700;
}

.wc-download-sales-report-container .setting-row h2 {
    margin-bottom: 15px;
}

.wc-download-sales-report-container .setting-row:first-of-type {
    padding-top: 10px !important;
}

.wc-download-sales-report-container .setting-row.section-heading {
    padding: 20px 0;
}

.wc-download-sales-report-container .setting-row.section-heading .setting-field {
    margin: 0;
}

.wc-download-sales-report-container .setting-row input[type=text],
.wc-download-sales-report-container .setting-row input[type=email],
.wc-download-sales-report-container .setting-row input[type=number],
.wc-download-sales-report-container .setting-row input[type=password],
.wc-download-sales-report-container .setting-row select {
    width: 400px;
    min-height: 35px;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 7px 12px;
    vertical-align: middle;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 1.3;
}

@media (max-width: 959px) {
    .wc-download-sales-report-container .setting-row input[type=text],
  .wc-download-sales-report-container .setting-row input[type=email],
  .wc-download-sales-report-container .setting-row input[type=number],
  .wc-download-sales-report-container .setting-row input[type=password],
  .wc-download-sales-report-container .setting-row select {
        width: 300px;
    }
}

.wc-download-sales-report-container .setting-row input[type=text]:focus,
.wc-download-sales-report-container .setting-row input[type=email]:focus,
.wc-download-sales-report-container .setting-row input[type=number]:focus,
.wc-download-sales-report-container .setting-row input[type=password]:focus,
.wc-download-sales-report-container .setting-row select:focus {
    border: 1px solid #a3dae3;
    outline: none;
    -webkit-box-shadow: 0 0 0 1px #a3dae3;
    box-shadow: 0 0 0 1px #a3dae3;
}

.wc-download-sales-report-container .setting-row p {
    margin: 12px 0 0;
    font-size: 14px;
    line-height: 1.5em;
}

.wc-download-sales-report-container .setting-row p:first-of-type {
    margin: 8px 0 0 0;
}

.wc-download-sales-report-container .setting-row p.desc {
    clear: both;
    width: 100%;
    margin: 8px 0 0 0;
    color: #777;
    font-style: italic;
}

.wc-download-sales-report-container .setting-label {
    float: left;
    width: 205px;
    display: block;
    padding: 5px 20px 0 0;
}

.wc-download-sales-report-container .setting-label label {
    display: block;
    font-weight: 600;
}

.wc-download-sales-report-container .setting-field {
    max-width: 800px;
    display: block;
    margin: 0 0 0 205px;
}

.wc-download-sales-report-container .setting-submit {
    margin: 0;
    padding: 25px 0;
}

.wc-download-sales-report-container .btn {
    min-height: 35px;
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 8px 28px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    color: #fff;
    border: 0;
    border-color: #55bbcb;
    border-radius: 3px;
    outline: none;
    background-color: #55bbcb;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 13px;
    font-weight: 600;
}

.wc-download-sales-report-container .btn.hidden {
    display: none !important;
}

.wc-download-sales-report-container .btn:hover {
    color: #fff;
    border-color: #38a4b5;
    background-color: #38a4b5;
}

.wc-download-sales-report-container .btn:focus {
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #38a4b5;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #38a4b5;
}

.wc-download-sales-report-container .checkbox-group {
    margin: 0 0 8px 0;
}

.wc-download-sales-report-container .checkbox-group.inline {
    width: 30%;
    display: inline-block;
    margin: 0 15px 8px 0;
}

.wc-download-sales-report-container .checkbox-group input[type=radio],
.wc-download-sales-report-container .checkbox-group input[type=checkbox] {
    float: left;
    margin: 0;
}

.wc-download-sales-report-container .checkbox-group label {
    margin: 0 0 0 8px;
    vertical-align: baseline;
}

.wc-download-sales-report-container .inner-group {
    width: 100%;
    margin: 15px 0;
    margin-left: 30px;
}

.wc-download-sales-report-container .input-group {
    float: left;
}

.wc-download-sales-report-container .input-group .label {
    display: block;
    margin: 0 0 3px;
    font-size: 12px;
}

.wc-download-sales-report-container .input-group input[type=text],
.wc-download-sales-report-container .input-group input[type=email],
.wc-download-sales-report-container .input-group input[type=number],
.wc-download-sales-report-container .input-group input[type=password],
.wc-download-sales-report-container .input-group select {
    width: 195px;
}

.wc-download-sales-report-container .radio-field {
    margin-right: 30px;
}

.wc-download-sales-report-container .notices-container {
    position: fixed;
    z-index: 1002;
    top: 120px;
    right: 30px;
    bottom: auto;
    left: auto;
    max-width: calc(100% - 64px);
    text-align: right;
    pointer-events: none;
}

.wc-download-sales-report-container .notice-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 24px;
    -webkit-animation-name: backInRight;
    animation-name: backInRight;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    text-align: left;
    pointer-events: auto;
    color: #fff;
    border-radius: 3px;
    background: #414141;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 56px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 56px rgba(0, 0, 0, 0.15);
    line-height: 1.5;
}

.wc-download-sales-report-container .notice-box .notice-icon {
    width: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    border-radius: 3px 0 0 3px;
    background: #747474;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.wc-download-sales-report-container .notice-box .notice-icon svg {
    margin-top: 12px;
}

.wc-download-sales-report-container .notice-box.is-info .notice-icon {
    background: #007cba;
}

.wc-download-sales-report-container .notice-box.is-success .notice-icon {
    background: #4ab866;
}

.wc-download-sales-report-container .notice-box.is-error .notice-icon {
    background: #d94f4f;
}

.wc-download-sales-report-container .notice-box.is-warning .notice-icon {
    background: #f0b849;
}

.wc-download-sales-report-container .notice-box .notice-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 13px;
    font-size: 14px;
}

.wc-download-sales-report-container .notice-box .dismiss {
    overflow: hidden;
    padding: 13px 16px 0;
    cursor: pointer;
    color: #bbb;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.wc-download-sales-report-container .notice-box .dismiss:hover {
    color: #fff;
}

.wc-download-sales-report-container .notice-box .dismiss svg {
    width: 24px;
    height: 24px;
}

.wc-download-sales-report-container .notice-box svg {
    fill: currentColor;
}

.wc-download-sales-report-container .side-panel-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    z-index: 1003;
    top: 126px;
    right: 0;
    width: 100%;
    height: calc(100vh - 126px);
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 783px) {
    .wc-download-sales-report-container .side-panel-wrapper {
        top: 112px;
        height: calc(100vh - 112px);
    }
}

.wc-download-sales-report-container .side-panel-wrapper .side-panel-content {
    width: 783px;
    max-width: 100%;
    margin-left: auto;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    background: #f3f4f5;
}

.wc-download-sales-report-container .side-panel-wrapper.open .side-panel-content {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}

.wc-download-sales-report-container .side-panel-wrapper .side-panel-section {
    padding: 20px;
}

.wc-download-sales-report-container .side-panel-wrapper .side-panel-section table {
    border-color: #eee;
}

.wc-download-sales-report-container .side-panel-wrapper .side-panel-section table thead th {
    border-color: #eee;
    font-weight: 700;
}

@-webkit-keyframes backInRight {
    0% {
        opacity: 0.7;
        -webkit-transform: translateX(2000px) scale(0.7);
        transform: translateX(2000px) scale(0.7);
    }

    80% {
        opacity: 0.7;
        -webkit-transform: translateX(0px) scale(0.7);
        transform: translateX(0px) scale(0.7);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes backInRight {
    0% {
        opacity: 0.7;
        -webkit-transform: translateX(2000px) scale(0.7);
        transform: translateX(2000px) scale(0.7);
    }

    80% {
        opacity: 0.7;
        -webkit-transform: translateX(0px) scale(0.7);
        transform: translateX(0px) scale(0.7);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
